/*
Stylesheet für die Awards HTML
*/

header {
    margin: auto;
    text-decoration: underline;
    display: table
}

.table-container {
    font-size: 1.5rem;
    margin: auto;
    margin-bottom: 5em;
    border: 5px #0080ff;
    border-style: solid;
    text-align: left;
}



.table-container .year {
    font-size: 1.3em;
    padding-right: 0.5em;
    font-weight: bolder;
    color: #0080ff;
}