header {
    margin: auto;
    text-decoration: underline;
}

section {
    text-align: center;
    border-bottom: 2px solid lightblue;
    margin: 1em;
}

section li {
    list-style: circle;
    margin: 1em;
    font-size: 1.2rem;
    list-style-position: inside;
}